$clr-Primary: white;
$clr-Secondary: black;
$clr-Title: #D31C75;
$clr-Box: #1A1A1AD4;

$ff-Primary: 'Heebo', sans-serif;
$fs-big: 2.2rem;
$fs-small: 1rem;
$fs-medium: 1.8rem;
$fs-ExtraSmall: 1rem;

$fw-ExtraRegular400: 200;
$fw-SemiBold600: 600;
$fw-ExtraBold800: 800;